.dropdown-container {
    position: relative;
    width: 100%;
}

.dropdown-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.dropdown-list div {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list div:hover {
    background: #f0f0f0;
}
    body {
        font-family: Arial, sans-serif;
        background-color: white;
    }

    .container {
        background: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        width: 100%;
        max-width: 650px;
        text-align: center;
        opacity: 0; 
        transform: translateY(-20px);
        animation: fadeIn 0.8s ease-out forwards;
        margin-top: 2rem;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        color: #100303;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    input, select, datalist {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background: #fff;
        outline: none;
        transition: all 0.3s ease;
    }

    input:focus {
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
        transform: scale(1.02);
    }

    input[type="file"] {
        padding: 8px;
        background: #fff;
    }

    input[type="submit"] {
        background: #3E2723 ;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: none;
        transition: all 0.3s ease;
        padding: 12px;
    }

    input[type="submit"]:hover {
        background: #6d859f;
        transform: scale(1.05);
    }

    .shake {
        animation: shake 0.4s ease-in-out;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        50% { transform: translateX(5px); }
        75% { transform: translateX(-5px); }
        100% { transform: translateX(0); }
    }
